* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.row {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col0 {
  display: none;
}

.col1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col12 {
  flex: 0 0 100%;
  max-width: 100%;
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
  background-color: #FFF9EA;
  top: 0;
  }
  header:hover{
    background-color: #FFF9EA !important;
    top: 0;
    }
  .logo img{
    
    width: auto;
    height: 70px;
  }
  .menu ul{
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  .menu ul a{
    display: block;
    position: relative;
  }
  .menu ul a::after{
    content:"";
    height: 5px;
    width: 0px;
    background: #FFCB45;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .menu ul li{
    font-size: 24px;
    color: #1D1D1D;
  }
  
  .icon{
    margin: 3px 0px;
    padding: 10px 15px;
    display: flex;
    justify-content: right;
    font-size: 24px;
    
  }
  .icon button{
    font-size: 12pt;
    height: 40px;
    width: 80px;
    background-color: #FFCB45;
    border-radius: 40px;
    border: none;
  }

.banner-icon {
  text-align: center;
  margin-top: 80px;
}

.banner-search input {
  width: 400px;
  height: 50px;
  font-size: 18px;
  color: #d9d9d9;
  padding: 0 10px;
  border-radius: 20px;
  background-color: #FFFFF2;
  outline: none;
}

.banner-icon-search {
  width: 48px;
  height: 47px;
  font-size: 26pt;
  color: white;
  background-color: #FFCC00;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -48.5px;
  left: 351.5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.newposts .tilte {
  font-size: 18pt;
  padding: 26px 16px;
  background-color: #FFCC00;
  border: 1px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.newposts ul {
  list-style-type: none;
}

.newposts ul li {
  padding: 26px 16px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 14pt;
  display: flex;
}

.newposts ul li:nth-child(even) {
  background-color: #FFFFFF;
}

.newposts ul li:nth-child(odd) {
  background-color: #FFFFF2;
}

.list-blog .row {
  margin-bottom: 12px;
}

.blog-cart {
  min-height: 280px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.blog-cart .row {
  margin-bottom: 12px;
}

.blog-cart img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.blog-cart h3 {
  color: #333333;
  margin: 0 10px 10px 10px;
}

.blog-cart .line {
  max-width: 60px;
  margin: 0 10px 10px 10px;
}

.line-yl {
  border-bottom: 3px solid #FFCC00;
}

.line-pink {
  border-bottom: 3px solid #F28482;
}

.line-green {
  border-bottom: 3px solid #84A59D;
}

.blog-cart p {
  color: #333333;
  margin: 0 10px 20px 10px;
}

.list-blog>.row>.col4 {
  padding-left: 16px;
}

.button-next-page {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  font-size: 16pt;
}

.button-next-page p {
  margin: 0 10px;
}

/* css cart */
.item1 {
  margin-bottom: 20px;
}

.banner-icon {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shopping-cart {
  margin-bottom: 20px;
}

.shopping-cart table {
  border: 1px solid #ADADAD;
  border-collapse: collapse;
  margin: 0 auto;
}

.shopping-cart tr:first-of-type {
  background-color: #f0f0f0;
}

.shopping-cart tr td {
  padding: 10px 30px;
  color: #181945;
}

.shopping-cart tr td a {
  color: #FAA41A;
}

.shopping-cart tr td span {
  color: #FAA41A;
}

.shopping-cart tr:last-child {
  background-color: #f0f0f0
  ;
}

.shopping-cart tr td .perchase {
  background-color: #FAA41A;
  width: 120px;
  height: 46px;
  color: #FFFFFF;
  font-size: 12pt;
  border: none;
  border-radius: 20px;
}

/* css tăng giảm số lượng */
.quantity {
  display: flex;
  align-items: center;
}

.quantity-input {
  width: 30px;
  height: 30px;
  text-align: center;
}

.minus-btn, .plus-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f0f0f0;
  font-size: 16px;
  cursor: pointer;
}

.minus-btn:hover, .plus-btn:hover {
  background-color: #ccc;
}

/* end css tăng giảm số lượng */

/* css payment pay */
.item2 {
  margin-bottom: 20px;
}
.address-box {
  min-height: 200px;
  border: 1px solid #7A7C9F;
  background-color: #FFFFFF;
  padding: 12px;
}

.address-box .title {
  color: #FAA41A;
  font-size: 18pt;
  margin-bottom: 20px;
}

.address-box .address-contact {
  color: #1D1D1D;
  font-size: 18pt;
  font-weight: bold; 
  padding-left: 20px;
}

.address-box .address {
  color: #1D1D1D;
  font-size: 20pt;
  font-weight: normal;
}

.address-box .address-button {
  display: flex;
  justify-content: right;
}

.address-box .address-button button{
  background-color: #FFFFFF;
  color: #FFAC4B;
  border: 1px solid #FFAC4B;
  width: 80px;
  height: 30px;
  margin: 0 20px;
}


.product-box {
  min-height: 200px;
  border: 1px solid #7A7C9F;
  background-color: #FFFFFF;
  padding: 12px;
}

.product-box .title {
  color: #FAA41A;
  font-size: 18pt;
  margin-bottom: 20px;
}

.product-box img {
  padding-left: 20px;
}

.product-box .list-product table tr td{
  color: #1D1D1D;
  font-size: 14pt;
}

.product-box .list-product table tr td:nth-child(1){
  padding: 0 90px 20px 40px;
}

.product-box .list-product table tr td:nth-child(2){
  padding: 0 80px 20px 10px;
}

.product-box .list-product table tr td:nth-child(3){
  padding: 0 30px 20px 40px;
}

.product-box .list-product table tr td:nth-child(4){
  padding: 0 0 20px 80px;
}

.product-box .list-product table tr td:nth-child(5){
  padding: 0 0 20px 90px;
}


/* css mess-box */
.item3 {
  margin-bottom: 20px;
}

.mess-box {
  min-height: 100px;
  border: 1px solid #7A7C9F;
  background-color: #FFFFFF;
  padding: 12px;
}

.mess-box .col4  {
  margin: -12px 0px;
  border-right: 2px dotted black;
}

.mess-box .form {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.mess-box .form span {
  color: #FFAC4B;
  font-size: 14pt;
}

.mess-box .form input {
  min-height: 30px;
  width: 200px;
}

.mess-box .ship {
  font-size: 16pt;
}

.mess-box .ship span {
  color: #FFAC4B;
  font-size: 14pt;
  margin: 0 5px;
}

.mess-box .ship .ship-price {
  color: #FFAC4B;
  padding-left: 350px;
}

.dot {
 width: 100%;
  border-bottom: 2px dotted black;
  margin: 20px 0;
}

.mess-box .total {
  padding: 0 98px 0 300px;
}
.bg {
  background-color: #FAA41A;
  min-height: 100px;
}

.bg1 {
  background-color: #7A7C9F;
  min-height: 100px;
}
/* end css mess-box */


/* pay-box */
.item4 {
  margin-bottom: 20px;
}

.pay-box {
  min-height: 100px;
  border: 1px solid #7A7C9F;
  background-color: #FFFFFF;
  padding: 12px;
}

.pay-box .title {
  color: #FAA41A;
  font-size: 18pt;
  margin: 20px 50px;
}

.pay-box button {
  max-width: 300px;
  min-height: 30px;
  padding: 0 20px;
  background-color: #FFFFFF;
  color: #FFAC4B;
  border: 1px solid #FFAC4B;
  border-radius: 20px;
  margin: 0 20px;
  font-size: 16pt;
}

/* end pay-box */




/*end css payment pay */

/* footer */
footer{
  background-color: #FFF9EA;
  padding: 30px 0;
}
.footer-col{
  display: block;
}
.logo-footer img{
  height: 60px;
  width: auto;
}
.footer-col h3{
  font-size: 20px;
  color: #000;
  font-weight: 100;
  margin-bottom: 16px;
}
.footer-col p{
  font-size: 16px;
  color: #333;
  margin: 4px 0;
  width: fit-content;
  cursor: pointer;
  line-height: 1.4;border-bottom: solid 1px #33333300;
  transition: 0.3s linear;
}

.footer-col p:hover{
   width: fit-content;
   border-bottom: solid 1px #333;
}

.footer-col:nth-child(5){
  text-align: right;
}
.copyright{
  width: 100%;
  text-align: center;
}
footer hr{
  height: 1px;
  border: none;
  background-color: #333;
  margin: 30px 0 35px 0;
}
.footer-icons{
  margin-top: 12px;
}
.icon-ig, .icon-tw{
  padding: 6px;
  font-size: 26px;
  color: #1D1D1D;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
}
.icon-fb{
  padding: 6px;
  font-size: 26px;
  margin: 0 4px;
  color: #fffcfc;
  background-color: #FFCB45;
  border-radius: 100%;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.7);
}



