@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Jacques+Francois+Shadow&family=Nunito&family=Roboto:ital,wght@1,300&display=swap");

/* font-family: 'Aref Ruqaa Ink', serif;
font-family: 'Jacques Francois Shadow', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --yellow1: #f0b211;
    --yellow2: #ffcc00;
    --yellow3: #ffef92;
    --yellow4: #fffff2;
    --pink1: #f28482;
    --pink2: #f5cac3;
    --pink3: #fce0e0;
    --green1: #84a59d;
    --green2: #b6d7cf;
    --green3: #c3eae0;

    --main-black: #06113C;
    --main-orange: #FF8C32;
    --main-yellow2: #F5D061;
    --main-gray1: #DDDDDD;
    --main-gray2: #EEEEEE;
}
html{
    font-family: 'Nunito', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col0 {
    display: none;
}

.col1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.col2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.col3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.col9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.col11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.col12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.flex {
    display: flex;
}

.box {
    margin: 0 32px;
}

.line-height {
    line-height: 1.4rem;
}

.text-32px {
    font-size: 32px;
}

.margin-top-40px {
    margin-top: 40px;
}

.margin-top-24px{
    margin-top: 24px;
}

.text-center {
    text-align: center;
}

.align-item-center{
    align-items: center;
}

header {
    background-color:var(--main-black);
    box-shadow: 0 0 10px gray;
}

.header {
    justify-content: left;
    align-items: center;
    padding: 0 100px;
    color: white;
}

.container{
    background-color: #fffffe;
}

.left {
    /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.834), rgba(98, 98, 98, 0.405)), url('../../assets/image/admin-img.png'); */
    /* background-position: center; */
    background-color: var(--main-black);
    height: 1000px;
    /* box-shadow: 0 0 20px gray; */

}
.left ul{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.left ul li{
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    color: #fff;
    transition: 0.5s;
    transition-delay: 1s;
}
.left ul li i{
    width: 30px;
    font-size: 15px;
    position: relative;
    z-index: 1;
    text-align: center;
    margin-right: 10px;
}
.left ul li i:nth-child(1){
    position: absolute;
    right: 0;
    top: 15px;
    transition: 0.5s;
    opacity: 0.5;
}
.left ul li::before{
    position: absolute;
    top: 0;
    width: 40px;
    background-color: #312857;
    content: '';
    height: 100%;
    left: 5px;
    transition: 1s;
}
.left ul li li{
    margin-bottom: unset;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: showchild 1s ease-in 1 forwards;
}
@keyframes showchild{
    form{
        opacity: 0;
        transform: translate(0, 20px);
    }
    to{
        opacity: 1;
    }
}
.list-product, .form{
    overflow: auto;
    max-height: 700px;
    
}

/* ::-webkit-scrollbar{
    display: none;
}

.item-left {
    padding: 16px 0;
    font-size: 20px;
}

.item-left a {
    text-decoration: none;
    color: white;
    display: block;
}

.item-left>a>i {
    margin-right: 16px;
    font-size: 24px;
} */

.sub-menu>a {
    /* display: block; */
    padding: 12px 0;
    margin-left: 20px;
    /* display: none; */
    transition: .5s ease-in ;
}



#manager {
    width: 100%;
    height: 100%;
}
/* css add product */
.title{
    color: #797979;
}

.form{
    border-radius: 20px;
    background-color: var(--main-gray2);
    box-shadow: 0 0 5px gray;
}

form{
    padding: 40px 0;
}

.form-control{
    align-items: center;
    justify-content: space-between;
}

.form-group input, .form-group>textarea, .form-group>select, .form-group>select option  {
    width: 90%;
    border: 1px solid var(--main-orange);
    font-size: 16px;
    outline: none;
    padding: 16px ;
    border-radius: 10px;
    color: #797979;
    margin-top: 16px;
}

::-webkit-file-upload-button{
    border: none;
    color: #797979;
    background-color: #fffffe00;
    /* border: .5px solid gray; */
    /* padding: 8px 16px; */
    border-radius: 10px;
}

button{
    border: none;
    padding: 16px 24px;
    font-size: 16px;
    color: white;
    background-color: var(--main-orange);
    border-radius: 10px;
    margin-top: 24px;
    margin-right: 80px;
    float: right;
}

.clear{
    content: "";
    display: block;
    clear: both;
}

/* end css add product */


/* css list product */
.list-product table {
    text-align: center;
}

.list-product table tr {
    border-bottom: 1px solid #000000;
}

.list-product table tr td {
    padding: 0 50px;
}

.list-product table tr td img {
    width: 80px;
    height: 80px;
}

.list-product table tr td a {
 padding: 12px 18px;
 font-size: 16px;
 color: white;
 border-radius: 10px;
 background-color: var(--green1);
 text-decoration: none;
}

.list-product table tr td a:hover {
    background-color: var(--pink1);
}

.bill{
    width: 80%;
    margin: 150px 10% 0 10%;
}
.bill-tile{
    width: 100%;
    display: flex;
    padding: 0 5px;
}
.list-bill{
    border: solid 1px #333;
    border-radius: 2px;
    height: 400px;
    overflow: auto;
    padding: 0 5px;
}
.box-bill{
    display: flex;
    margin-top: 4px;
}
.index{
    width: 15%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.total{
    width: 20%;
    text-align: center;
}
.date{
    width: 25%;
    text-align: center;
}
.orderer{
    width: 25%;
    text-align: center;
}
.detail{
    width: 15%;
    text-align: center;
}
.detail a{
    color: #333;
    font-size: 20px;
}
/* end css list product */






